<ion-content>
  <ion-img class="top_logo" src="./assets/images/logo.png"></ion-img>
  <ion-img src="./assets/images/ic_serve_top.png"></ion-img>
  <div class="item_cont">
    <p>Login</p>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <ion-list>
        <ion-item lines="none">
          <ion-input type="email" placeholder="E-Mail" formControlName="email"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        </ion-item>
        <ion-button shape="round" expand="block" color="main" type="submit">
          Einloggen
        </ion-button>
        <a (click)="goForgot()">Passwort vergessen?</a>
        <ion-button shape="round" expand="block" color="medium" [routerLink]="'/register'"
          [routerDirection]="'forward'">
          Registrieren
        </ion-button>
      </ion-list>
    </form>
  </div>
  <ion-img src="./assets/images/ic_serve_down.png"></ion-img>

</ion-content>